.post {
  width: 100%;
  background-color: white !important;
  margin: 10px 0;
  border-radius: 5px;
}
.post_header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
}
.post_header_info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_header_post {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}
.img_header_post img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 50%;
}
.info_user_post {
  font-size: 12px;
  font-weight: 500;
}
/* .post_header_edit {
} */
.span_edit_post {
  cursor: pointer;
  padding: 0 5px;
}
.span_edit_post:hover {
  color: orangered;
  font-weight: bold;
}
.dropdown-item {
  cursor: pointer;
}
.post_center_description {
  margin: 15px 10px;
}
/* .post_center_imgThumbnail {
} */

.post_imgLegth {
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.1);
  color: red;
  position: absolute;
  top: 25px;
  right: 0;
  z-index: 10;
}
.carousel-control-prev:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.carousel-item {
  overflow: hidden;
  background-color: black;
}
.img-post {
  height: 300px;
  object-fit: contain;
  line-height: 300px;
}
.post_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.post_footer_feed {
  display: flex;
  justify-content: center;
  align-items: center;
}
.post_footer_feed img {
  width: 25px;
  height: 25px;
  object-fit: fill;
  margin-left: 5px;
  cursor: pointer;
}
.post_footer_feed span {
  margin-left: 5px;
}
.post_footer_feed span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.post_footer_comment {
  margin-right: 10px;
}
.post_footer_comment:hover {
  text-decoration: underline;
  cursor: pointer;
}
